<div *ngIf="isShowMenuItems">
  <!-- Top Header -->
  <header class="header">
    <div class="header-left">
      <span class="logo-text">CodingLab</span>
    </div>

    <!-- Hamburger for mobile -->
    <div class="hamburger" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars"></i>
    </div>

      <!-- Desktop Menu -->
    <nav class="header-nav desktop-nav">
      <ul class="nav-list">
        <li
          *ngFor="let item of headerMenuItems"
          class="nav-item has-submenu"
          (click)="toggleSubmenu(item, $event)"
        >
          <div *ngIf="item.submenu" class="nav-link">
            <i [ngClass]="item.icon"></i>
            {{ item.name }}
            <i class="fa-solid fa-chevron-down arrow"></i>
          </div>
          <a *ngIf="!item.submenu" class="nav-link" [href]="item.link">
            <i [ngClass]="item.icon"></i>
            {{ item.name }}
          </a>

          <ul class="dropdown dropdown-animation" *ngIf="item.submenu">
            <li *ngFor="let sub of item.submenu">
              <a [href]="sub.link">{{ sub.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Profile (desktop only) -->
    <div class="header-profile desktop-nav">
      <i class="fa-solid fa-right-from-bracket logout-icon"></i>
    </div>
  </header>

  <!-- Mobile Sidebar Menu -->
  <aside class="mobile-sidebar" [class.open]="isMobileMenuOpen">
    <ul class="mobile-menu">
      <li *ngFor="let item of headerMenuItems" [class.open]="item.isOpen">
        <div class="mobile-link" (click)="toggleSubmenu(item, $event)">
          <i [ngClass]="item.icon"></i>
          {{ item.name }}
          <i *ngIf="item.submenu" class="fa-solid fa-chevron-down arrow"></i>
        </div>
        <ul *ngIf="item.submenu && item.isOpen" class="mobile-submenu">
          <li *ngFor="let sub of item.submenu">
            <a [href]="sub.link">{{ sub.name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>

<div *ngIf="!isShowMenuItems && isShowToggleButton">
  <header class="header">
    <div
      class="w-100 d-flex toggle-button"
      [ngStyle]="{ 'margin-left': !isSidebarClosed ? '16rem' : '0rem' }"
    >
      <div class="sidebar-toggle" (click)="handleSidebarToggle()">
        <i class="bx bx-menu"></i>
      </div>
    </div>
  </header>
</div>
