:root {
  --header-bg: #11101d;
  --header-text: #ffffff;
  --header-icon: #ffffff;

  --sidebar-bg: #1e1e2f;
  --submenu-bg: #29293d;

  --hover-bg: rgba(255, 255, 255, 0.05);
  --active-bg: #34344a;
}