<div class="sidebar" [class.close]="isSidebarClosed">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">CodingLab</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let item of menuItems" [class.showMenu]="item.isOpen">
      <!-- With submenu -->
      <div class="iocn-link" *ngIf="item.submenu" (click)="toggleSubmenu(item)">
        <a href="#">
          <i [class]="item.icon"></i>
          <span class="link_name">{{ item.name }}</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>

      <!-- Without submenu -->
      <a *ngIf="!item.submenu" [href]="item.link">
        <i [class]="item.icon"></i>
        <span class="link_name">{{ item.name }}</span>
      </a>

      <!-- Sub-menu -->
      <ul class="sub-menu" *ngIf="item.submenu">
        <li>
          <a class="link_name" href="#">{{ item.name }}</a>
        </li>
        <li *ngFor="let sub of item.submenu">
          <a [href]="sub.link">{{ sub.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- Main content area -->
<section class="home-section">
  <div class="home-content">
    <i class="bx bx-menu" (click)="toggleSidebar()"></i>
    <span class="text">Drop Down Sidebar</span>
  </div>
</section>
