:root {
  --header-bg: #ffffff;
  --header-open-bg: #ffffff;
  --header-text: #000;
  --header-icon: #000;

  --sidebar-bg: #ffffff;
  --sidebar-open-bg: #ffffff;
  --sidebar-text: #000;
  --sidebar-icon: #000;

  --hover-bg: rgba(255, 255, 255, 0.05);
  --active-bg: #34344a;
}